.POPOSDetails {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	margin: auto;
}

.POPOSDetails .POPOSDetails-info {
	flex: 1 1;
	text-align: left;
	padding: 0 1em;
}

.POPOSDetails .POPOSDetails-title {
	font-size: 2em;
	margin: 0;
}

.POPOSDetails .POPOSDetails-image {
	flex: 2 1;
}

.POPOSDetails .POPOSDetails-image img {
	width: 100%;
}

.POPOSDetails .POPOSDetails-hours {
	font-size: 1.5em;
}

.randomspace-insert{
	margin-bottom: 15px;
}